/* Estilo base */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #f0f4f8, #e693ff);
    color: #52006a;
    text-align: center;
  }
  
  /* Cabeçalho */
  header {
    background: #9f65bef3;
    color: #fff;
    background: linear-gradient(#85698f,#864da4);
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
    font-size: 3.2rem;
  }
  
  header p {
    margin: 5px 0 0;
    font-style: italic;
  }
  
  /* Seções */
  section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgb(70, 0, 98);
    list-style: none;
  }
  
  section h2 {
    color: #e9d0fe;
    margin-bottom: 10px;

  }
  
  article ul li {
    margin-bottom: 8px;
    list-style-type: none;
    
  }
  
  /* Rodapé */
  footer {
    background: #825a8f;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 0.9rem;
  }
  